<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}Ubiwhere{% endblock %}</title>

</head>

<body>
	<a href="{% url 'ubiwhere:ubiwhere_index' %}"><b>Home</b></a>	
	<br>
  <h2>List of User Music</h2>
          
    {% if user_music_objs %}	
		<table>
			<tr>
				<th>User Name</th>
				<th>Artist</th>
				<th>Album</th>
				<th>Title</th>			
				
			</tr>
			{% for user_music in user_music_objs %}
				<tr>
					<td>{{ user_music.user.name }}</td>
					<td>{{ user_music.music.artist }}</td>
					<td>{{ user_music.music.album }}</td>
					<td>{{ user_music.music.title }}</td>
				</tr>
			{% endfor %}
		</table>	
	{% else %}
		<p>No data found.</p>
	{% endif %}
    
    <br><br>
    <a href="{% url 'ubiwhere:user_music_add' %}"><button>Adicionar Musicas a Users</button></a>
    
 </body>

</html>